streamlit
pandas
numpy
easyocr
matplotlib
Pillow
nltk
wordcloud
textblob
spacy
opencv-python-headless
seaborn
rapidfuzz
openpyxl
torch
torchvision
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.7.0/es_core_news_sm-3.7.0.tar.gz
